/* Starting off with changing background color and text color*/
body{
background-color: #adadad;
color: rgb(0, 0, 0)
}
#discussion-goal{
    font-family: 'Akronim';
    font-style: normal;
    font-weight: 400;
}
p{
    text-align:center;
    color: red;
}